
.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 400;
}

/* Styling for the open category header */
.menuHeader.open::after {
  margin-left: 5px;
}

/* Styling for the menu items */
.menuItem {
  display: block;
  padding: 5px;
  cursor: pointer;

}

  .menuItemActive {
    color: black !important;
    text-decoration: none !important;
    font-style: italic;
  }
.navlink {
  color: black !important;
  text-decoration: none !important;
}
.nav {
  list-style-type: none !important;
  padding: 0;
  margin-left: 5%;
}
.separation {
  border-top: solid 1px rgba(60, 60, 60, 0.787);
  width: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 3%;
}

.thomas {
  font-weight: 400;
  line-height: 15%;
  margin-top: 20%;
  width: 150%;
  font-size: 20px;
}

.menu {
  font-family: 'EB Garamond', regular;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 10%;
    width: 40%;
    z-index: 999; 
    transition: opacity 0.3s;
    /* Adjust the z-index value to make sure it's above other content */
}

@media only screen and (min-width: 880px) {
  .menu {
    font-family: 'EB Garamond', regular;
    font-size: 1.2rem;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 2%;
    width: auto;
    z-index: 999; /* Adjust the z-index value to make sure it's above other content */
  }
  .separation {
    border-top: solid 1px rgba(60, 60, 60, 0.787);
    width: 17rem;
    margin: 0;
    padding: 0;
    margin-bottom: 3%;
  }
  .thomas {
    font-weight: 400;
    line-height: 15%;
    margin-top: 20%;
    width: 150%;
    font-size: 2rem;
  }
  .menuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: 400;
  }
}

  
  .menuHeader {
    /* Your existing styles */
    cursor: pointer;
  }

  .menuHeader.open {
    font-style: italic;
  }


  

  
  /* Add other styles as needed */

  .thomas {
    cursor: pointer;
  }

.menuVisible {
  opacity: 1;
}

.menuHidden {
  opacity: 0;
}

.toTopButton {
  position: fixed;
  bottom: 2rem;
  right: 0.2rem;
  padding: 0.5rem;
  /* background: #ECE9E6;  */
  color: #ECE9E6;
  border: none;
  background: none;
  /* border-radius: 150%; */
  cursor: pointer;
  font-size: 1.5rem; /* Add font size for the button icon */
}

.toTopButton.hidden {
  display: block;
}