.container {
    height: 100vh;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
  }
  
  .hotspots {
    position: relative;
  }
  
  .hotspotA {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    animation: fader 2s ease infinite;
    transition: all 0.2s;
    color: rgba(0, 0, 0, 15%);
    border: solid 0.5px rgb(0, 0, 0);
    top: 40%;
    left: 65%;
  }
  
  .popUpA {
  position: absolute;
  top: 55%; /* Set the top position to 50% */
  left: 70%; /* Set the left position to 50% */ 
  transform: translate(-50%, -50%); /* Center the pop-up both horizontally and vertically */
}

  

  
  .popupBtn {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
  }
  
  .insideBtn {
    border-radius: 0.125rem;
    border: 0.5px solid #000;
    background: #FFF;
    width: 4.2rem;
    height: 1.3rem;
    text-decoration: none;
    color: black;
  }
  
  .hotspotA:active {
    /* animation-play-state: paused; */
    transform-origin: center;
    color: white;
    background-color: white;
    border: solid 0.5px rgb(0, 0, 0);
    width: 2.3rem;
    height: 2.3rem;
  }
  
  @media only screen and (min-width: 880px) {
    .hotspotA:hover {
      animation-play-state: paused;
      color: white;
      background-color: white;
      border: solid 0.5px rgb(0, 0, 0);
      width: 2.3rem;
      height: 2.3rem;
    }
  
  }