.container {
    height: 100vh;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
  }
  

  .hotspotA {
    font-family: "EB Garamond", regular;
    font-weight: 100;
    animation: fader 2s ease infinite;
    transition: all 0.2s;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 33%; /* Set the top position to 50% */
    left: 58%; /* Set the left position to 50% */

  }
  


  /* @media only screen and (min-width: 500px) {
    .popUpA{
      position: absolute;
      top: 40%;
      left: 60%;
    }
    .popUpB {
      position: absolute;
      top: 50%;
      left: 60%;
    }
  } */
  
  .hotspotB {
    font-family: "EB Garamond", regular;
    font-weight: 100;
    animation: fader 2s ease infinite;
    transition: all 0.2s;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 65%;
    left: 70%;
  }


  
  .insideBtn {
    border: none;
    background: transparent;
    text-decoration: underline;
    color: #000;
  }

  .popupBtnA {
    position: absolute;
    top: 85%; /* Set the top position to 50% */
    left: 10%; /* Set the left position to 50% */
    font-size: 14px;
    width: fit-content;
  
  }
  @media only screen and (min-width: 880px) {
    .popupBtnA {
      position: absolute;
      top: 88%; /* Set the top position to 50% */
      left: 2%; /* Set the left position to 50% */
      font-size: 16px;
      width: fit-content;
    }
    }
    .popupBtnB {
      position: absolute;
      top: 85%; /* Set the top position to 50% */
      left: 10%; /* Set the left position to 50% */
      font-size: 14px;
      width: fit-content;
      
    
    }
    @media only screen and (min-width: 880px) {
      .popupBtnB {
        position: absolute;
        top: 88%; /* Set the top position to 50% */
        left: 2%; /* Set the left position to 50% */
        font-size: 16px;
        width: fit-content;
      }
      }