.container {
    height: 100vh;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
  }
  
  .hotspots {
    position: relative;
  }
  
  .hotspotA {
    font-family: 'EB Garamond', regular;
    font-weight: 100;
    position: absolute;
    width: 3rem;
    height: 3rem;
    animation: fader 2s ease infinite;
    transition: all 0.2s;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    top: 30%;
    left: 70%;
  }
  
  .popUpA{
    position: absolute;
    top: 40%;
    left: 50%;
  }
  
  .popupBtn {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .insideBtn {
    border: none;
    background: transparent;
    margin: 2%;
    width: 2rem;
    text-decoration: underline;
    color: #000;  
  }
