@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'EB Garamond', serif;
}

.container {
  grid-column: 1/4;
  grid-row: 1/3;
  margin: 4%;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.menu a:hover {
  text-decoration: underline;
  font-style: italic;
}


.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.container {
  position: relative;
}

.main {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.menu a:hover {
  text-decoration: underline;
  font-style: italic;
}
