.container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease;
  opacity: 0;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

.hotspots {
  position: relative;
}

.hotspotA {
  font-family: "EB Garamond", regular;
  font-weight: 100;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 14%; /* Set the top position to 50% */
  left: 58%; /* Set the left position to 50% */
  cursor: pointer;
}

.hotspotB {
  font-family: "EB Garamond", regular;
  font-weight: 100;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%; /* Set the top position to 50% */
  left: 50%; /* Set the left position to 50% */
  cursor: pointer;
}

.hotspotC {
  font-family: "EB Garamond", regular;
  font-weight: 100;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 37%;
  left: 40%;
  cursor: pointer;
}

.popupBtnB {
  position: fixed;
  top: 85%; /* Set the top position to 50% */
  left: 5%; /* Set the left position to 50% */
  font-size: 14px;
  text-align: left;
}

.popupBtnC {
  position: fixed;
  top: 85%; 
  left: 5%; 
  font-size: 14px;
  text-align: left;
}


.popupBtnA {
  position: fixed;
  justify-self: left;
  justify-items: left;
  align-self: left;
  align-items: left;
  align-content: left;
  top: 85%; /* Set the top position to 50% */
  left: 5%; 
  font-size: 14px;
  text-align: left;
}

.insideBtn {
  border: none;
  background: transparent;
  text-decoration: underline;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding: 0%;
  margin: 0%;
  cursor: pointer;
}

@media only screen and (min-width: 880px) {
  .popupBtnA {
    position: fixed;
    top: 88%; /* Set the top position to 50% */
    left: 2%; /* Set the left position to 50% */
    font-size: 16px;
    width: fit-content;
    text-align: left;
  }
  .insideBtn {
    border: none;
    background: transparent;
    text-decoration: underline;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
    cursor: pointer;
  }

  .popupBtnC {
    position: fixed;
    top: 88%; /* Set the top position to 50% */
    left: 2%; /* Set the left position to 50% */
    font-size: 16px;
    width: fit-content;
    text-align: left;
  }

  .popupBtnB {
    position: fixed;
    top: 88%; /* Set the top position to 50% */
    left: 2%; /* Set the left position to 50% */
    font-size: 16px;
    text-align: left;
    width: fit-content;
  }
}