.container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease;
  opacity: 0;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

.hotspots {
  position: relative;
}

.hotspotA {
  font-family: "EB Garamond", regular;
  font-weight: 100;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 10%; /* Set the top position to 50% */
  left: 80%; /* Set the left position to 50% */
}


.hotspotB {
  font-family: "EB Garamond", regular;
  font-weight: 100;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 47%; /* Set the top position to 50% */
  left: 50%; /* Set the left position to 50% */
}


.hotspotC {
  font-family: "EB Garamond", regular;
  font-weight: 100;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 27%; 
  left: 40%; 
}



.popupBtnB {
  position: fixed;
  top: 85%; /* Set the top position to 50% */
  left: 10%; /* Set the left position to 50% */
  font-size: 14px;
  background-color: #c6c5c15b;


}
@media only screen and (min-width: 880px) {
  .popupBtnB {
    position: fixed;
    top: 88%; /* Set the top position to 50% */
    left: 2%; /* Set the left position to 50% */
    font-size: 16px;
    width: fit-content;
  }
  }
  .popupBtnC {
    position: fixed;
    top: 85%; /* Set the top position to 50% */
    left: 10%; /* Set the left position to 50% */
    font-size: 14px;
  
  }
  @media only screen and (min-width: 880px) {
    .popupBtnC {
      position: fixed;
      top: 88%; /* Set the top position to 50% */
      left: 2%; /* Set the left position to 50% */
      font-size: 16px;
      width: fit-content;
    }
    }

    .popupBtnA {
      position: fixed;
      top: 85%; /* Set the top position to 50% */
      left: 10%; /* Set the left position to 50% */
      font-size: 14px;
    
    }
    @media only screen and (min-width: 880px) {
      .popupBtnA {
        position: fixed;
        top: 88%; /* Set the top position to 50% */
        left: 2%; /* Set the left position to 50% */
        font-size: 16px;
        width: fit-content;
      }
      }


.insideBtn {
  border: none;
  background: transparent;
  margin-top: 0%;
  margin-left: 0;
  text-decoration: underline;
  color: #000;
}

