.container {
  height: 100vh;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;   
  transition: background-image 1s ease;
  opacity: 0;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
  /* overflow: hidden; */
}

.hotspots {
  position: relative;
}

.hotspotA {
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding-top: 6px;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  top: 5%;
  left: 69;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}
.popUpA,
.popUpB,
.popUpC {
  position: absolute;
  top: 50%; /* Set the top position to 50% */
  left: 50%; /* Set the left position to 50% */ 
  transform: translate(-50%, -50%); /* Center the pop-up both horizontally and vertically */
}

.popUpC {
  top: 70%;
}

.popUpA {
  top: 45%;
}



.popupBtn {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
}



.insideBtn {
  border-radius: 0.125rem;
  border: 1px solid #000;
  background: #FFF;
  width: 4.3rem;
  height: 1.3rem;
  text-decoration: none;
  color: #000;
}



.hotspotB {
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding-top: 6px;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  top: 57%;
  left: 54%;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}




.hotspotC {
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding-top: 6px;
  animation: fader 2s ease infinite;
  transition: all 0.2s;
  top: 33%;
  left: 35%;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}


