.container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 30% repeat(2, auto);
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .menu {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }

  /* pour les boutons d'achat une fois réactivés */

  .buyBtn {
    width: 25%;
    align-self: center;
    padding: 0.2%;
    margin-top: 8%;
    margin-bottom: 5%;
    background-color: transparent;
    text-decoration: none;
    color: #000;
    border: solid 0.5px #000;
    font-size: 16px;
    font-weight: 100;
  }
  .optionsBtn {
    display: flex;
    justify-content: space-around;
  } 


  @media only screen and (min-width: 880px) {
    .container {
      grid-template-columns: 30% 40% 30%;
      grid-template-rows: 20% repeat(2, auto);
      height: 100vh;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .menu {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }
    /* .buyBtn {
      width: 25%;
      align-self: center;
      padding: 0.2%;
      margin-top: 8%;
      margin-bottom: 5%;
      font-size: 1rem;
      background-color: transparent;
      border: solid 0.5px #000;
      text-decoration: none;
      color: #000;
      font-weight: 100;
    } */
  
  }
  
  .infoContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #000;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 8%;

  }

  .info {
    margin-top : 2%;
  }
  .infoTitle {
    font-family: "EB Garamond";
    font-weight: 300;
    font-size: 18px;
  }
  




  .gallery {
    margin-top: 5%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  

  .imageOne {
    object-fit: cover;
   width: 100%;
    height: auto;
    margin-bottom: 5%;
  }

  .imageTwo {
    object-fit: cover;
   width: 100%;
    height: auto;
    margin-bottom: 5%;

}

.imageThree {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-bottom: 5%;

}

.imageFour {
  object-fit: cover;
 width: 100%;
  height: auto;
  margin-bottom: 5%;

}

.imageFive {
  object-fit: cover;
 width: 100%;
  height: auto;
  margin-bottom: 5%;

}

.imageSix {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  margin-bottom: 5%;

}

  .imageItem {
    width: calc(40%); /* Adjust this value based on the number of images you want per row */
    height: auto;

  }
  .inquire {
    margin: 0.2%;
  }
  .buyBtn {
    width: 20%;
    align-self: center;
    margin-top: 8%;
    margin-bottom: 5%;
    background-color: transparent;
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 1rem;
    color: #000;
    border: solid 0.5px #000;
    align-content: center;
    display: flex;
    justify-content: center;
  }

  @media only screen and (min-width: 880px) {
    .container {
      grid-template-columns: 30% 40% 30%;
      grid-template-rows: 20% repeat(2, auto);
      height: 100vh;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .menu {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }
    .buyBtn {
      width: 20%;
      align-self: center;
      margin-top: 5%;
      margin-bottom: 0%;
      background-color: transparent;
      text-decoration: none;
      font-family: "Open Sans";
      font-weight: 100;
      font-size: 16px;
      color: #000;
      border: solid 0.5px #000;
      align-content: center;
      display: flex;
      justify-content: center;
    }
  
    .inquire {
      margin: 0.2%;
    }
  }